# Sample ENV setup Variables
# Copy this file and update as needed.
#
#   $ cp env.sample .env
#
# Do not include this new file in source control
#

# Rails Settings
EXPOSED_PORT=3000
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=false
#SQS_QUEUE=somequeue
#AWS_REGION=us-west1

# Database Settings
DB_PORT=3306
DB_HOST=127.0.0.1
DB_DATABASE=standard_notes_db
DB_USERNAME=std_notes_user
# Please change this!
DB_PASSWORD=changeme123
# Please change this!
DB_ROOT_PASSWORD=changeme123
DB_POOL_SIZE=30
DB_WAIT_TIMEOUT=180

# Secrets
# Use: bundle exec rake secret
# To generate required secrets below
#

SECRET_KEY_BASE=changeme123

# Disable user registration
#DISABLE_USER_REGISTRATION=true

# Datadog
DATADOG_ENABLED=false
