# Sample ENV setup Variables
# Copy this file and update as needed.
#
#   $ cp env.sample .env
#
# Do not include this new file in source control
#

# Rails Settings
SECRET_KEY_BASE: changeme123
RAILS_ENV: development
#SQS_QUEUE: somequeue


# Database Settings
DB_HOST: 127.0.0.1
DB_PORT: 3306
DB_DATABASE: database_name
DB_USERNAME: db_user
DB_PASSWORD: changeme123

SYNCING_SERVER_EDITION: 'community'
