%p Hello,

%p We recently tried backing up your data to <strong>#{@ext_name}</strong>, but an issue prevented us from doing so.

%p
  The usual cause is an expired or revoked token from your sync provider. Please follow
  %a{"href" => "https://standardnotes.org/help/27/how-do-i-enable-dropbox-google-drive-or-onedrive-backups"} these instructions
  to use CloudLink on the web or desktop Standard Notes application to uninstall then reinstall this sync provider.

%p
  We apologize for any inconvenience this may cause.
  If you have any questions, please feel free to reply directly to this email.

%p
  Thanks,
  %br SN

%a{"href" => "#{@mute_url}"} Mute this email
