%p Hello,

%p
  This email is to let you know that we have, per your request, disabled two-factor authentication for your account.
%p
  You may now sign in again without 2FA. We recommend re-enabling 2FA once you're back in to your account.

%hr

%p
  Get help anytime by visiting our
  %a{"href" => "https://standardnotes.org/help"} help page.
