LOG_LEVEL="debug"
NODE_ENV="production"
JWT_SECRET="change-me-!"
LEGACY_JWT_SECRET="not-needed-anymore"
AUTH_JWT_SECRET="change-me-!"
AUTH_JWT_TTL=60000
PSEUDO_KEY_PARAMS_KEY="change-me-!"

DB_HOST="db"
DB_REPLICA_HOST="db"
DB_PORT=3306
DB_DATABASE="standard_notes_db"
DB_USERNAME="std_notes_user"
DB_PASSWORD="changeme123"
DB_DEBUG_LEVEL="migration"

ACCESS_TOKEN_AGE=5184000
REFRESH_TOKEN_AGE=31556926

MAX_LOGIN_ATTEMPTS=6
FAILED_LOGIN_LOCKOUT=3600

DD_TRACE_ENABLED=false
DD_ENV="local"
DD_SERVICE="syncing-server-js"

EPHEMERAL_SESSION_AGE=300

REDIS_URL="redis://cache:6379"

USER_SERVER_REGISTRATION_URL="https://website-local/admin/events/registration"
USER_SERVER_AUTH_KEY="change-me-!"

REDIS_EVENTS_CHANNEL="events"

PORT=3000
